#bg{
  width:910px;
  height:100%;
  background-image: url("image\\background.jpg");
  background-repeat: no-repeat;
  position:absolute;
  top:10px;
  left:280px;
  /*background-size: 1300px 1032px;*/
}
#character{
  position : absolute;
  top : 530px;
  left : 420px;
}
#GameCanvas
{
  margin-left: 230px;
}
